.comment,
 #addCommentContainer{
 background:#f7f7f7;
 background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
 background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
 border:1px solid #aaa;
 border-radius:10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 -moz-box-shadow:0 0 15px #aaa;
 -webkit-box-shadow:0 0 15px #aaa;
 box-shadow:0 0 15px #aaa;
 margin:20px auto;
 padding:20px;
 width:510px;
 }

 .comment .avatar{
 height:50px;
 width:50px;
 background:url('../comm/img/default_avatar.gif') no-repeat #fcfcfc;
 -moz-box-shadow:1px 1px 0 #c2c2c2;
 -webkit-box-shadow:1px 1px 0 #c2c2c2;
 box-shadow:1px 1px 0 #c2c2c2;
 float:left;
 margin-right: 20px;
 }

 .comment .avatar img{
 display:block;
 }

 .comment .name{
 padding-bottom:10px;
 font-size:14px;
 color:#07e818;
 font-weight: bold;
 }

 .comment .date{
 font-size:10px;
 padding: 20px 10px 0 10px;
 color:#666;
 float: right;
 }

 .comment p,
 #addCommentContainer p{
 line-height:1.5;
 overflow-x:hidden;
 }

 fieldset,img{ border:0;}

 html {
 overflow:-moz-scrollbars-vertical;
 }

 form {
 margin: 20px 0;
 }

 #comDiplayBox{
 background:#f7f7f7;
 background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
 background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
 border:1px solid #aaa;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
 -moz-box-shadow:0 0 15px #aaa;
 -webkit-box-shadow:0 0 15px #aaa;
 box-shadow:0 0 15px #aaa;
 margin:20px auto 0;
 padding:20px;
 width:510px;
 height: auto;
 }

 form p{
 margin-bottom:20px;
 }

 form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
 margin-bottom:0;
 }

 label{
 cursor:pointer;
 display:block;
 float:left;
 font-weight:bold;
 letter-spacing: 1px;
 line-height:28px;
 margin-bottom:5px;
 width:160px;
 }

 form p:hover label{
 color:#07e818;
 }

 form p:hover label:after{
 content:' ->';
 }

 input[type=text], textarea,
 input[type=password]{
 background: rgba(255, 255, 255, 0.9);
 background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
 background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
 border:1px solid #aaa;
 border-radius:3px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 -moz-box-shadow:0 0 3px #aaa;
 -webkit-box-shadow:0 0 3px #aaa;
 box-shadow:0 0 3px #aaa;
 padding:5px;
 }

 input[type=text]:focus, textarea:focus,
 input[type=password]:focus{
 border-color:#07e818;
 box-shadow:0 0 3px #07e818;
 -moz-box-shadow:0 0 3px #07e818;
 -webkit-box-shadow:0 0 3px #07e818;
 outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
 }

 select{
 cursor:pointer;
 padding:3px;
 box-shadow:0 0 3px #07e818;
 -moz-box-shadow:0 0 3px #aaa;
 -webkit-box-shadow:0 0 3px #aaa;
 }

 .submit{
    border: 1px solid rgb(103, 241, 85);
    height: 40px;
    width: 150px;
    border-radius: .5rem;
    translate: 150%;
}

.submit:hover{
    border: 1px solid #aaa;
    background-color: rgb(103, 241, 85);
}
.submit a
{
    color: black;
    text-decoration: none;
    }
.submit a:hover 
{
    color: black;
    text-decoration: none;
    }
h2{
    text-align: center;
    background-color: #ced4da;
}

#formulaire{
    margin-top: 10px;
}

#navAjout{
    margin-top: 30px;
    margin-bottom: 50px;
}

.titre{
    text-align: center;
}
}

